# Server
PORT=3001
BINDERBYTE_API_URL=https://api.binderbyte.com
BINDERBYTE_API_KEY=
BITESHIP_API_URL=https://api.biteship.com
BITESHIP_API_KEY=
DEFAULT_PROVIDER=binderbyte
FALLBACK_PROVIDER=biteship

# Client
NEXT_PUBLIC_API_URL=http://localhost:3001
