# Database
DB_HOST=cek_resi_mysql
DB_PORT=3306
DB_USER=cek_resi
DB_PASSWORD=cek_resi_password
DB_NAME=cek_resi

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# App
PORT=3001
DEFAULT_PROVIDER=binderbyte
FALLBACK_PROVIDER=biteship

# Tracking API
BINDERBYTE_API_URL=https://api.binderbyte.com
BINDERBYTE_API_KEY=
BITESHIP_API_URL=https://api.biteship.com
BITESHIP_API_KEY=

#Email API
RESEND_API_KEY=
RESEND_EMAIL_FROM=